<div class="plugin_settings_hello">
  <h3><%= t(:hello_user, "Hello, %{user}!", user: @current_user.name) %></h3>
  <p><%= t(:welcome_message, "Welcome to the Canvas SEB configuration page.") %></p>
</div>

<%= fields_for :settings do |f| %>
<table class="formtable">
  <tr>
    <td style="vertical-align: top;"><%= blabel :canvas_seb, :enabled, :en => "Enable Plugin" %></td>
    <td>
      <%= f.check_box :enabled, :checked => Canvas::Plugin.value_to_boolean(settings[:enabled]) %>
    </td>
  </tr>
  <tr>
    <td><%= blabel :canvas_seb, :api_key, :en => "Plugin API Key" %></td>
    <td>
      <%= f.text_field :api_key, :value => settings[:api_key] %>
    </td>
  </tr>
  <tr>
    <td><%= blabel :canvas_seb, :disable_quiz_seb, :en => "Disable Quiz SEB" %></td>
    <td>
      <%= f.check_box :disable_quiz_seb, :checked => Canvas::Plugin.value_to_boolean(settings[:disable_quiz_seb]) %>
      <small><%= t(:disable_hint, "If checked, students can only start quizzes using Safe Exam Browser. Quizzes will be disabled on other browsers.") %></small>
    </td>
  </tr>
  <tr>
    <td><%= blabel :canvas_seb, :single_session, :en => "Enforce Single Session" %></td>
    <td>
      <%= f.check_box :single_session, :checked => Canvas::Plugin.value_to_boolean(settings[:single_session]) %>
      <small><%= t(:single_session_hint, "When checked, only allow one active session per user. Logging in on a new browser will logout old sessions.") %></small>
    </td>
  </tr>
  <tr>
    <td colspan="2"><hr/><strong><%= t(:media_player_controls, "Media Player Controls") %></strong></td>
  </tr>
  <tr>
    <td><%= blabel :canvas_seb, :disable_media_seek, :en => "Disable Media Seek Controls" %></td>
    <td>
      <%= f.check_box :disable_media_seek, :checked => Canvas::Plugin.value_to_boolean(settings[:disable_media_seek]) %>
      <small><%= t(:disable_media_seek_hint, "Hide timeline/seek bar, volume, captions, settings, and fullscreen. Only show play/pause button.") %></small>
    </td>
  </tr>
  <tr>
    <td><%= blabel :canvas_seb, :hide_all_media_controls, :en => "Hide All Media Controls" %></td>
    <td>
      <%= f.check_box :hide_all_media_controls, :checked => Canvas::Plugin.value_to_boolean(settings[:hide_all_media_controls]) %>
      <small><%= t(:hide_all_media_controls_hint, "Hide all media player controls completely (overrides 'Disable Media Seek Controls').") %></small>
    </td>
  </tr>
</table>
<% end %>
