<div class="plugin_settings_hello">
  <h3><%= t(:hello_user, "Hello, %{user}!", user: @current_user.name) %></h3>
  <p><%= t(:welcome_message, "Welcome to the Canvas SEB configuration page.") %></p>
</div>

<%= fields_for :settings do |f| %>
<table class="formtable">
  <tr>
    <td style="vertical-align: top;"><%= blabel :canvas_seb, :enabled, :en => "Enable Plugin" %></td>
    <td>
      <%= f.check_box :enabled, :checked => Canvas::Plugin.value_to_boolean(settings[:enabled]) %>
    </td>
  </tr>
  <tr>
    <td><%= blabel :canvas_seb, :api_key, :en => "Plugin API Key" %></td>
    <td>
      <%= f.text_field :api_key, :value => settings[:api_key] %>
    </td>
  </tr>
  <tr>
    <td><%= blabel :canvas_seb, :disable_quiz_seb, :en => "Disable Quiz SEB" %></td>
    <td>
      <%= f.check_box :disable_quiz_seb, :checked => Canvas::Plugin.value_to_boolean(settings[:disable_quiz_seb]) %>
      <small><%= t(:disable_hint, "If checked, students can only start quizzes using Safe Exam Browser. Quizzes will be disabled on other browsers.") %></small>
    </td>
  </tr>
</table>
<% end %>
